body {
    background-color: #202124;
}

#registerForm {
    background-color: #f6c800;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 25%;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    padding: 20px;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=submit] {
    background-color: white;
    color: #202124;
    border: none;
    border-radius: 3px;
    padding: 15px 32px;
    margin: 10px 0;
}

input[type=submit]:hover {
    background-color: #202124;
    color: white;
}

